<footer class="copyrights">
  <div class="container">
    <div class="row">
      <div class="col-xs-12  col-sm-6">
        <a href="http://themeforest.net/item/readable-blog-template-focused-on-readability/7499064?ref=ProteusThemes">Readable</a> HTML Template © Copyright 2014.
      </div>
      <div class="col-xs-12  col-sm-6">
        <div class="copyrights--right">
          Made by
          <a href="http://proteusthemes.com/" target="_blank">ProteusThemes</a> .
        </div>
      </div>
    </div>
  </div>
</footer>