<div class="widget-author  boxed  push-down-30">
  <div class="widget-author__image-container">
    <div class="widget-author__avatar--blurred">
      <img src="{{STATIC_URL}}images/yogesh.jpg" alt="Avatar image" width="90" height="90">
    </div>
    <img class="widget-author__avatar" src="{{STATIC_URL}}images/yogesh.jpg" alt="Avatar image" width="90" height="90">
  </div>
  <div class="row">
    <div class="col-xs-10  col-xs-offset-1">
      <h4>Yogesh Dwivedi</h4>
      <p>Hi, my name is Yogesh and  I'm Sr. developer @cisin(http://www.cisin.com).</p>
      <p> My favorite languages are currently Python and JavaScript, and I'm good with Django, Angular and other python  MVC frameworks.</p>
    </div>
  </div>
</div>



<div class="sidebar  boxed  push-down-30">
  <div class="row">
    <div class="col-xs-10  col-xs-offset-1">

      {% if tags %}
        <div class="tags  widget-tags">
          <h6>Tags</h6>
          <hr>
          {% for tag in tags %}
          <a href="{% url 'blogango_tag_details' tag.slug %}" class="tags__link">{{ tag.name }}</a> 
          {% endfor %}
        </div>
      {% endif %}

      <!-- Widget posts -->

      {% if recents %}
        <div class="widget-posts  push-down-30">
          <h6>Recent Posts</h6>
          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane  fade active in" id="recent-posts">
            {% for recent in recents %}
              <div class="push-down-15">
                <img src="{{STATIC_URL}}images/dummy-licensed/blog-image-small.jpg" alt="Posts">
                <h5>
                  <a href="{{ recent.get_absolute_url }}" title='{{ recent.title }}'> {{ recent.title }}</a> 
                </h5>
                <span class="widget-posts__time">19 hours ago</span> 
              </div>
            {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}


      {% if archive_months %}
        <div class="tags  widget-tags">
          <h6>ARCHIVES</h6>
          <hr>
          {% for month in archive_months %}
            <a href="{% url "blogango_archives" month|date:'Y' month|date:'b' %}" class="tags__link">{{ month|date:'F Y' }}</a> 
          {% endfor %}
        </div>
      {% endif %}
      
      <div class="social-icons  widget-social-icons  push-down-30">
        <h6>Social Icons</h6>
        <a href="https://www.facebook.com/yogeshd.mca" target="_blank"class="social-icons__container"> <span class="zocial-facebook"></span>  </a> 
        <a href="https://twitter.com/" class="social-icons__container" target="_blank"> <span class="zocial-twitter"></span>  </a> 

        <!-- <a href="skype:cisin.sales?call" class="social-icons__container" target="_blank"> <span class="zocial-skype"></span></a>
        <a href="#" class="social-icons__container" target="_blank"> <span class="zocial-youtube"></span>  </a> 
        <a href="#" class="social-icons__container" target="_blank"> <span class="zocial-reddit"></span>  </a> 
        <a href="#" class="social-icons__container" target="_blank"> <span class="zocial-wordpress"></span> -->  </a> 
        
        <a href="https://bitbucket.org/cis-yogesh" class="social-icons__container" target="_blank"> <span class="zocial-bitbucket"></span>  </a> 
        <a href="https://github.com/cis-yogesh" class="social-icons__container" target="_blank"> <span class="zocial-github"></span>  </a> 
        <!-- <a href="#" class="social-icons__container" target="_blank"> <span class="zocial-html5"></span>  </a> 
        <a href="#" class="social-icons__container" target="_blank"> <span class="zocial-meetup"></span>  </a> --> 
      </div>
    </div>
  </div>
</div>
