<div class="boxed  push-down-45">
    <div class="meta">
      <div class="row">
        <div class="col-xs-12  col-sm-10  col-sm-offset-1">
          <div class="meta__container--without-image">
            <div class="row">
              <div class="col-xs-12  col-sm-8">
                <div class="meta__info">
                  <span class="meta__author">
                       {% if entry.created_by.teammember.photo %}
                          <img src="{{ entry.created_by.teammember.photo.url }}"  alt="{{ entry.created_by }}" width="30" height="30">
                        {% else %}
                            <img src="{{ STATIC_URL }}images/dummy/about-5.jpg" alt="Meta avatar" width="30" height="30">
                        {% endif %}

                        <a href="{% url "blogango_author_page" entry.created_by %}">{{ entry.created_by }}</a> </span>
                  <span class="meta__date"><span class="glyphicon glyphicon-calendar"></span>  &nbsp; {{ entry.created_on|date:'jS N, Y' }}</span> 
                </div>
              </div>
              <div class="col-xs-12  col-sm-4">
                <div class="meta__comments">
                  <span class="glyphicon glyphicon-comment"></span>  &nbsp;
                      <a href="{{ entry.get_absolute_url }}#disqus_thread"></a> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

        <!-- Start of the blogpost -->
    <div class="row">
      <div class="col-xs-12  col-sm-10  col-sm-offset-1  push-down-60">
        <div class="post-content">
          <h1>
            <a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a>
          </h1>
          <p>{{ entry.text|safe }}</p>
        </div>
        <div class="row">
          <div class="col-xs-12  col-sm-4">
          <h6>SOCIAL</h6>
          <hr/>
          <div class="post-author">
              <div class="social-icons">
                <a href="#" class="social-icons__container"> <span class="zocial-facebook"></span>  </a> 
                <a href="#" class="social-icons__container"> <span class="zocial-twitter"></span>  </a> 
                <a href="#" class="social-icons__container"> <span class="zocial-email"></span>  </a> 
              </div>
            </div>
          </div>

          <div class="col-xs-12  col-sm-8">
          <h6>TAGS</h6>
          <hr/>
            <div class="tags">
                {% for tag in entry.tags.all %}
                  <a class="tags__link" href="{% url "blogango_tag_details" tag.slug %}">
                    {{ tag.name }}
                  </a>
                {% endfor %}
            </div>
          </div>
        </div>

        <div class="disqus-comments  push-down-45">
           <div id="disqus_thread"></div>
            <script type="text/javascript">
                /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                var disqus_shortname = 'yogeshblogs'; // required: replace example with your forum shortname

                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
                (function () {
                  var s = document.createElement('script'); s.async = true;
                  s.type = 'text/javascript';
                  s.src = '//' + disqus_shortname + '.disqus.com/count.js';
                  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
              }());

            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    

        </div>

      </div>
    </div>

  <!-- End of the blogpost -->
</div>